<% include ../partials/header.ejs %>

<br><br><br>
<div class="ui container">
<form action="/verifyNumber" method="" class="ui form">
  <h1> Get Masked Number <a href="/" style="display : inline-block; margin-left : 20px" class="ui button blue">Home Page</a> </h1>
  <h4 style="margin-top : 10px">Enter your real number to recieve masked #</h4>
  <p>*Please keep the +1 in front of the number.*</p>
  <input type="text" name="realNumber" value="+1">
  <br>
  <h4 style="margin-top : 10px">Create A Username</h4>
  <input type="text" name="myName" value="">
  <br>
<br>
    <button class="ui button orange">Get</button>

  <br> <br>

</form>
</div>
<br>
<br>
<br>
    </body>
</html>
