<% include ../partials/header.ejs %>

<br><br><br>
  <div style="margin-right : -550px;">
<div class="ui container">
<form action="/findNumber" method="get" class="ui form">
<h1>We are sending a toll free call...</h1>
<h3>Number : <%= numberEntered %></h3>
<h4>After hearing, please enter your code.</h4>

<h1 style="margin-left : 30px">Code : <%= code %> </h1>
<br>
  <button style="margin-left : 75px;" class="ui button blue">Done</button>
<br> <br>
</form>
</div>
<br>
<br>
<br>
</div>
    </body>
</html>
